@use "../globals" as *;
@use "../parts/common" as *;

body {
   background: $cMainTitle;
}

#main-content {
   & img {
      &:hover {
         opacity: 0.5;
         transition: opacity 0.5s ease-in-out;
      }
   }

   & p {
      font-weight: 600;
   }
   
}

.div-bg {
   padding: 30px 0;
   background-image: url(/scripts/images/image-1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-blend-mode: lighten; //背景色を透き通るようにする
   background-color: rgba(255,255,255,0.5);

   &:nth-child(2) {
      background-image: url(/scripts/images/image-2.jpg);
   }
   &:nth-child(3) {
      background-image: url(/scripts/images/image-1.jpg);
   }
   &:nth-child(4) {
      background-image: url(/scripts/images/image-4.jpg);
   }
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background: transparent;
   display: flex;
   align-items: center;
   z-index: 100;

   & nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      margin: 20px;
      font-size: 2em;

      @include mq(sm) {
         font-size: 1.5em;
      }
   }

   &__list {
      list-style: none;
      display: flex;
      padding: 0;

      @include mq(md) {
         display: none;
      }
   }

   &__item {
      margin: 20px;

      & a {
         text-decoration: none;
         color: #0349f4d6;
      }
   }

   &.triggered {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
   }
}

.introduction {
   @extend .content-width;

   &__inner {
      display: flex;
      padding: 50px 0;

      @include mq(sm) {
         flex-direction: column;
      }
   }

   &__min-img {

      & img {
         border-radius: 50%;
         width: 90%;
         box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.7);

         &:hover {
            opacity: 0.5;
            transition: opacity 0.5s ease-in-out;
         }

         &:nth-child(2) {
            width: 40%;
            margin-right: 0;
            transform: translate(204px, -27px) rotate(-16deg);
         }
      }

      @include mq(sm) {
         & img {
            transform: translate(15px, -17px);
            &:nth-child(2) {
               display: none;
            }
         }
      }
   }

   &__menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      & h1 {
         text-align: center;
         writing-mode: vertical-rl;

         & span {
            text-orientation: upright;
            color: $color;
         }
      }

      @include mq(sm) {
         & h1 {
            writing-mode: unset;
            padding-bottom: 20px;
            font-size: 1em;
         }
      }
   }


   &__inner2 {
      display: flex;
      align-items: center;
      padding: 50px;
      padding-bottom: 70px;
      background: rgba(234, 235, 230, 0.5);

      @include mq(sm) {
         flex-direction: column;
      }
   }

   &__card {

      & h1 {
         text-align: center;
         margin-bottom: 10px;

         & span {
            color: $color;
         }
      }
      
      @include mq(sm) {
         & h1 {
           font-size: 1.2em; 
         }
      }

   }

   &__img {
      border: 8px solid $cBlack;
      transform: rotate(-19deg) translate(34px, 10px);

      @include mq(sm) {
         & {
            transform: rotate(-15deg) translate(-8px, 10px);
         }
      }
   }
}

.ranking {
   @extend .mb-lg;
   @extend .content-width;
   padding: 20px 0;

   &__text {
      text-align: center;

      @include mq(lg) {

         & > p {
            font-size: 2em;
         }
         & h1 {
            font-size: 5em;
         }
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
   }



   & a {
      text-decoration: none;

   }

   &__num {
      display: inline;
      text-align: center;
      color: $cWhite;
      font-weight: 600;
      padding: 0 20px;
      border: 1px solid $color;
      background-color: $color;
   }

   &__menu {
      align-items: center;
      display: flex;

      &:first-child {
         padding-bottom: 40px;
      }

      @include mq(sm) {
         flex-direction: column;
      }

      @include mq(lg) {
         // flex-wrap: wrap
      }

      & .img {
         & img {
            vertical-align: bottom;
            transform: translate(-116px, -12px);
            width: 90%;
            object-fit: contain;
            border-radius: 50%;
            box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.7);
            flex-basis: 50%;

            @include mq(sm) {
               transform: translate(-5px, -17px);
            }
         }
      }
      

      & .img2 {
         transform: translateX(20%);
      }
   }

   &__description {
      margin: 10px 0;
      flex-basis: 140%;

      & p {
         margin: 20px 0;
      }
   }
}

.ranking2 {
   @extend .mb-lg;
   @extend .content-width;

   &__inner {
      display: flex;

      @include mq(sm) {
         flex-direction: column
      }
   }

   &__menu {
      margin-right: 10px;
   }

   &__description {
      & > span {
         font-size: 2em;
         font-weight: 600;
      }
   }

   &__img {
      position: relative;
      margin: 20px 0;

      &:first-child {
         margin-top: 0;
      }

      &::after {
         content: ' >> ';
         position: absolute;
         display: block;
         right: 0;
         bottom: 0;
         background-color: $cBlack;
         color: $cWhite;
         font-size: 2em;
         width: 39px;
         height: 49px;
      }
   }

   & a.total {
      display: block;
      text-align: center;
      width: 50%;
      margin-top: 80px;
      padding: 20px;
      font-size: 2em;

      @include mq(sm) {
         width: 90%;
         font-size: 1em;
      }
   }

}

.fixation {
   @extend .mb-lg;
   @extend .content-width;

   &__inner {
      display: flex;

      @include mq(sm) {
         flex-direction: column;
      }
   }

   &__conten {

      @include mq(lg) {
         margin-right: 50px;
         &:last-child {
            margin-right: 0;
         }
      }
   }


   &__img {
      border: 8px solid $cBlack;


      & img {
         position: relative;
         
      }
      & p {
         font-size: 19px;
         position: absolute;
         transform: translate(12%, -142%) rotate(8deg);
         font-weight: 900;
         color: $cWhite;
         text-shadow: 5px 0px $cBlack;

         @include mq(lg) {
            font-size: 81px;
            position: absolute;
            transform: translate(3%, -110%) rotate(8deg);
            font-weight: 800;
            color: $cWhite;
            text-shadow: 14px 6px $cBlack;
         }
         
      }
   }

   &__description {
      margin: 10px 0;
   }
}

.map {
   @extend .content-width;
   margin-bottom: 30px;

   &__inner {
      display: flex;
      justify-content: space-between;

      @include mq(sm) {
         flex-direction: column;
      }
   }

   &__title {
      text-align: center;
      padding: 50px 0;
   }

   &__content {
      flex-basis: 40%;
   }

   &__map1 {

      & dl.flex1 {
         display: flex;
         justify-content: flex-start;
         border-bottom: 3px solid $cBlack;
         font-weight: 600;
         padding: 30px 0;

         @include mq(sm) {
            padding: 15px 0;
            font-size: 10px;
         }

         & dd {
            font-size: 1.5em;
            width: 50%;
         }

         & dt {
            font-size: 2em;
            width: 50%;
         }
      }
   }

   &__map2 {

      & .kari {
         margin-top: 30px;
         width: 100%;
         height: 600px;
         background-color: aqua;
      }
   }
}

.footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #0349f4d6;

   &__title {
      font-size: 3em;

      @include mq(sm) {
         font-size: 1em;
      }
   }
   
   &__information {
      font-weight: 600;
      text-align: center;
      padding: 20px 0;

      @include mq(sm) {
         font-size: 0.5em;
      }
   }
}

.min-footer {
   text-align: center;
   background-color: $cBlack;
   color: $cWhite;
   padding: 10px 0;
   font-size: 1.5em;

   & span {
      font-size: 0.5em;
   }
}

.sp {

   &__btn {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba( 0, 0, 0, 0.6 );
      z-index: 5;

      @include mq(lg) {
         display: none;
      }
   }

   &__inner {
      position: relative;
      text-align: center;
   }

   &__menu {
      display: flex;
      justify-content: space-around;
      padding: 0;
      list-style: none;
   }

   &__item {
      flex-basis: 50%;
      border-right: 1px solid $cWhite;
      display: inline-block;
      padding: 10px;

      &:last-child {
         border-right: none;
      }
      
      & a {
         text-decoration: none;
         cursor: pointer;
         padding: 10px 38px;
         color: $cWhite;
         font-weight: 600;

         @include mq(lg) {
            padding: 22px 250px;
         }
      }
   }
}