@use "globals" as *;

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: "Helvetica Neue", "Yu Gothic", "Meiryo", sans-serif;
  color: $cSubTitle;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "リニューアルオープンおめでとう!!!!!!!";
    position: absolute;
    top: -110px;
    left: -360px;
    display: block;
    font-size: 40px;
    color: blue;

    @include mq(sm) {
      top: -200px;
      left: -180px;
    }
    @include animation(
      $name: sk-rotateplane,
      $duration: 1.2s,
      $iteration-count: 1,
      $timing-function: ease-in-out
    );
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
